body {
  background-color: coral;
  font-family: "Nunito Sans", sans-serif;
}

nav {
  background-color: yellow;
  
}

.logo {
  background-image: url(logo.png) 120%;
  width: 90px;
  height: 90px;

}

header {
  width: 100%;
  height: 10%;

}

h1 {
  text-align: center;
}

.button {
  background-color: white;
  color: rgb(10, 1, 1);
  font-size: 18px;
  font-family: sans-serif;
  border-radius: 26px;
  border: 4px solid #2e2e29;
  cursor: pointer;
  text-align: center;
  width: 160px;
  height: 18px;
  margin-left: 20%;
  margin-top: 15%;
  display: block;
  padding: 10px 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5), 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

a {
  text-decoration: none;
  color: #30343f;
}

.dead {
 
}

.alive-list {

}

.dead-list {

}
