body {
  background-color: #ececec;
  font-family: 'Arvo', serif;
  height: 100%;
}


nav {
  background-color: #ececec;
  position: fixed;
  top: 0 ;
  left: 0;
  width: 100%;
  height: 10%;
  list-style: none;
  display: inline-block;
  padding-bottom: 10px;
}

.logo {
  background-image: url(logo.png);
  width: 90px;
  height: 90px;
  position: fixed;
  display: inline-block;
  top: 0;
  left: 1%;
 
}

header {
  width: 25%;
  height: 50%;
  position: absolute;
  top: 15%;
  left: 35%;
  border-color: black;
  display: inline-block;
}

img {
  width: 60%;
  display: block;
  margin: auto;
}

h1 {
  text-align: center;
  font-size: 40px;
  margin: 5% 0 0 0;
}

hr {
  height: 3px;
  background-color:#cccccc;
  position: relative;
  width: 60%;
}

#line-1 {
  position: absolute; 
  top: 50%;
  left: 20%;
}

h3 {
  color: #2b2b2b;
  font-size: 25px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 35%;
}

#line-2 {
  position: absolute;
  top: 58%;
  left: 20%;
}

.button{
  background-color: white;
  color: rgb(10, 1, 1);
  font-size: 20px;
  border-radius: 26px;
  border: 4px solid #2e2e29;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 12%;
  height: 7%;
  margin-left: 40%;
  margin-top: 29%;
  padding: 10px 10px 10px 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5), 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  transition: 0.8s;
}

.button:hover{
  background-color: maroon;
  color:#cccccc;
  border-radius: 26px;
  border: 4px solid black ;
}

.button.kill{
  position: absolute;
  margin-left: 19%;
  margin-top: 29%;
}

.button.add{
  position: absolute;
  margin-left: 54%;
  margin-top: 29%;
}

a {
  text-decoration: none;
  color: #30343f;
}

.text-box {
  background: #cccccc;
  color: maroon;
}

.text-box.die-name {
    position: absolute;
    margin-top: 29.7%;
    margin-left: 33%;
    height: 25px;
    width: 11.5%;
  }

.text-box.add-name {
  position: absolute;
  margin-top: 29.7%;
  margin-left: 68%;
  height: 25px;
  width: 11.5%;
}

.deadAliveNumber {
 color: maroon;
 position: absolute;
 top: 73%;
 margin-top: 5px;
 margin-left: 34%;
 text-align: center;
}

.number {
  background-color:#cccccc
}

.list.dead {
position: absolute;
top: 80%;
left: 25%;
}

.list.alive {
  position: absolute;
  left: 70%;
  top: 80%;
  }

p {
  color: maroon;
  text-decoration: none;
}

footer {
  background-color:#cccccc;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  list-style: none; 
}

.repository {
  color:black;
  z-index: 1;
  position: absolute;
  top: 25%;
  left: 85%;
  padding: 5px;
}

.repository:hover{
  border-bottom: 2px solid black;
}

